{{>doctype}}
<html lang="{{lang}}">
  <head>
    {{>title}}
  </head>
  <body>
    {{#header}}
      {{>headers}}  
    {{/header}}
    <p>{{{ description }}}</p>
    {{#fields}}
      {{>field}}
    {{/fields}}
    {{#links}}
      {{>anchor}}
    {{/links}}
  </body>
</html>
