{{>doctype}}
<html lang="{{lang}}">
    <head>
        {{#meta}}
            {{>meta}}
        {{/meta}}
        {{>title}}
    </head>
    <body>
        {{#header}}
            {{>headers}}  
        {{/header}}
        <p>{{{ description }}}</p>
        {{#fields}}
            {{>field}}
        {{/fields}}
        {{#links}}
            {{>anchor}}
        {{/links}}
        {{>tracking}}
    </body>
</html>
