<div role="alert" class="
    {{#alertInfo}}info{{/alertInfo}}
    {{#alertWarning}}warning{{/alertWarning}}
    {{#alertError}}error{{/alertError}}{{#alertSuccess}}success{{/alertSuccess}}">
    {{#alertHeader}}<header><h2 class="boxed">{{alertHeader}}</h2></header>{{/alertHeader}}
    {{#alertMessage}}<div>{{{alertMessage}}}</div>{{/alertMessage}}
</div>