<meta
    {{#name}} name="{{name}}"{{/name}}
    {{#content}} content="{{content}}"{{/content}}
    {{#charset}} charset="{{charset}}"{{/charset}}
    {{#httpEquiv}} http-equiv="{{httpEquiv}}"{{/httpEquiv}}>
